html {
  background-image: url("tennis.jpeg");
  background-size: cover;
}

#navigation {
  	
    vertical-align: top;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    margin-top: 2%;
}

#navigation li {
    display: inline;
}

  #navigation li a {
    padding: 4px 40px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    line-height: 1em;
    text-align: center;
    text-decoration: none;
  }

  #navigation li a:hover, #navigation li a:focus, #navigation li a:active {
    background: #dfff4f ;
    text-decoration: underline;
    margin-top: 20px
}

#menu{
  border: 2px solid;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  background-color: white;
  text-align: center;
}

.titre_principal{
  float: left;
  margin: 1px
}